<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Interactive</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-default" id="nav">
    <div class="container">
      <div class="navbar-header">
        {{!-- <a class="navbar-brand" id="name">Reach Ernesto</a> --}}
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="sameColor" id="about" href="/">About</a></li>
          <li><a class="sameColor" id="portfolio" href="/portfolio">Portfolio</a></li>
          <li><a class="sameColor" id="contact" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8 white" style="border: 1px solid silver">
        <div class="page-header">
          <h1 class="typingNoDelay" id="cont">Message me...</h1>
        </div>
        <div class="row white">
          <div class="col-md-12">
            <div id="forBorder">
              <section class="sameColor" id="name1">Name</section>
              <br>
              <div class="sameColor" id="nameDiv">Ernesto Hernandez</div> 
              <br>
              <section class="sameColor" id="email">Email</section>
              <br>
              <div class="sameColor" id="emailDiv">h_ernesto@ymail.com</div>
              <br>
              <section class="sameColor" id="message">Message</section>
              <div class="sameColor" id="messageDiv"></div>
              <br>
              <div class="sameColor" id="emptyDiv"></div>
              <br>
              <div class="sameColor" id="submit">Submit</div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="connectWith">Connect With Me</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 shake">
                <a href="https://github.com/" target="_blank">
                  <img src="https://pbs.twimg.com/profile_images/616309728688238592/pBeeJQDQ.png" style="width: 50px;">
                </a>
              </div>
              <div class="col-md-4 shake">
                <a href="https://www.linkedin.com/in/ernesto-hernandez45/" target="_blank">
                  <img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" style="width: 50px;">
                </a>
              </div>
              <div class="col-md-4 shake">
                <a href="https://stackoverflow.com/" target="_blank">
                  <img src="http://sourcingrecruitment.info/wp-content/uploads/2015/05/stackoverflow.png" style="width: 50px;">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="footer"></div>
  <div id="last"></div>
</body>
</html>