<!DOCTYPE html>
<html>
  <div class="show-all">
    <div class="container">
      <br>
      <br>
      <div class="row aboutText inline-block text-center white">
        <h1>
          Welcome... My name is Ernesto Hernandez.
          <br> I am a full-stack web developer.
          <br> Explore my work, internaut!!
        </h1>
      </div>
    </div>
    <div class="row" id="arrow">
      <a id="arrowLink" href="/portfolio">
        <img class="center-block" src="./assets/images/arrow-pixilart.png">
      </a>
    </div>
</div>
</html>