  <div class="container">
    <div class="row">
      <div class="col-md-8 white" style="border: 1px solid silver">
        <div class="page-header">
          <h1 class="typingNoDelay" id="port">Please, Browse Along</h1>
        </div>
        <div class="row">
          <div class="col-md-12 white">
            <div id="forBorder">
              <div class="floats row" id="firstFloat">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <a href="https://ernie45.github.io/Hangman-Game/" target="_blank" id="first">
                    <h2 class="banner">HangManGame</h2>
                    <img class="same" src="images/bridge.jpg" alt="firstImage" alt="firstImage">
                  </a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <a href="https://ernie45.github.io/week-4-game/" target="_blank" class="placeHolder" id="second">
                    <h2 class="banner">RPG-Game</h2>
                    <img class="same" src="images/food.jpg" alt="secondImage">
                  </a>
                </div>
              </div>
              <div class="floats row" id="secondFloat">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <a href="https://ernie45.github.io/TriviaGame/" target="_blank" class="placeHolder" id="third">
                    <h2 class="banner">Trivia Game</h2>
                    <img class="same" src="images/panorama.jpg" alt="thirdImage">
                  </a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <a href="https://ernie45.github.io/Gifs-API/" target="_blank" class="placeHolder" id="fourth">
                    <h2 class="banner">Gifs-API</h2>
                    <img class="same" src="images/tv.jpg" alt="fourthImage">
                  </a>
                </div>
                
              </div>
              <div class="floats" id=thirdFloat>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <a href="https://ernie45.github.io/RPS-Multiplayer/" target="_blank" class="placeHolder" id="fifth">
                    <h2 class="banner">RPS-Multiplayer</h2>
                    <img class="same" src="images/again.jpg" alt="fifthImage">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="connectWith">Connect With Me</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 shake">
                <a href="https://github.com/" target="_blank">
                  <img src="https://pbs.twimg.com/profile_images/616309728688238592/pBeeJQDQ.png" style="width: 50px;">
                </a>
              </div>
              <div class="col-md-4 shake">
                <a href="https://www.linkedin.com/in/ernesto-hernandez45/" target="_blank">
                  <img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" style="width: 50px;">
                </a>
              </div>
              <div class="col-md-4 shake">
                <a href="https://stackoverflow.com/" target="_blank">
                  <img src="http://sourcingrecruitment.info/wp-content/uploads/2015/05/stackoverflow.png" style="width: 50px;">
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="footer"></div>
  <div id="last"></div>