body{
  width: 100%;
  height: 590px;
  /* The image used */
  background-image: url("/assets/images/professional.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutText{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px gray;
}
#portfolioSnippet{
  position: relative;
  top: 250px;
  width: 100%;
  padding-top: 0px;
  margin-bottom: 250px;
}
.bannerTitle{
  margin-bottom: 100px;
}
.repository{
  padding: 20px;
  padding-top: 5px;
  background: gray;
  margin: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}
.repository:hover{
  padding: 0px;
  background: rgb(41, 40, 40);
}
.repository-title{
  color:black;
}
.repository-image{
  width: 75%;
  height: 100%;
  border-radius: 10%;
}
.repository-image:hover{
  opacity: 0.5;
}
#nav, #panBody, #panDefault{
  background:#484545;
  border-width: 2px;
  border-color: #02ffb8;
}
.nav{
  padding-top:10px;
}
.sameColor{
  float:left;
}
#panBody{
  padding: 30px;
}
#name{
    color: rgb(255, 199, 0);
    font-weight: bold;
    animation-name: titleanimate;
    animation-duration: 4s;
}
.white{
  color: white;
}
#arrow{
  overflow: hidden;
  position: relative;
  animation: upDown 1s infinite;
}
#panHeading{
  padding: 20px;
  background: black;
  font-weight: bold;
  color: #02ffb8;
}
.aboutText{
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}
.arrow{
  margin: 0px;
}
#aboutMe, #port, #cont{
    color: rgb(55, 178, 226);
}
.panel{
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 50px;
  padding: 100px;
  width: 50%;
  border-radius: 50%;
  position: relative;
  top: 50px;
  border-width: 10px;
  border-color: red;
}
#contactSnippet{
  margin-top: 100px;
  width: 100%;
}
.contactLink{
  width: 500px;
  margin-bottom: 100px;
  position: relative;
  top: 100px;
}
#contactForm{
  width: 50%;
  margin: auto;
}
#formName{
  margin-bottom: 15px;
}
#formTextArea{
  margin-bottom: 15px;
}
#sendButton{
  padding: 20px;
  font-weight: bold;
}
#footerSnippet{
  height: 50px;
  width: 100%;
}
#footerTron{
  margin-bottom: 0px;
}
#footerDivider{
  height: 2px;
  background: red;
  width: 100%;
}
@keyframes upDown{
  0% {top: 0px}
  100% {top: 10px}
}
@media only screen and (min-width: 768px) {
  #arrow {
    position: relative;
      top: 200px;
  }
}