body{
	background: url("../images/vintage-concrete.png");
}
.navbar{
	color: rgb(103, 175, 218);
}
.sameColor{
	color: #cccccc;
}
#nameLine{
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background: #ffffff;
	width: 100%;
	clear: both;
	overflow: auto;
}
h1{
	display: inline;
	background: #4aaaa5;
	font-size: 30px;
	color: white;
	width: 26%;
	margin-left: 10%;
}
#sectionDiv{
	color:#777777;
	float: right;
	clear: both;
	overflow: auto;
	margin-top: 10px;
}
#about{
	float: left;
	margin-right: 10px;
	border-right: solid;
	border-width: 1px;
	border-color: #cccccc;
	padding-right: 5px;
}
#portfolio{
	float: left;
	margin-right: 10px;
	border-right: solid;
	border-width: 1px;
	border-color: #cccccc;
	padding-right: 5px;
}
#contact{
	float: left;
	margin-right: 10px;
}
h2, h3{
	font-size: 20px;
	color: #4aaaa5;
	margin-left: 20px;
	padding: 20px;
}
#mainDiv{
	margin-top: 25px;
	background-image: ;
	margin-bottom: 10px;
}
#forBorder{
	border-top: solid;
	border-width: 2px;
	border-color: #cccccc;
	padding-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
#secondDiv{
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background: #ffffff;
	width: 500px;
	margin-left: 10%;
	margin-bottom: 10px;
	padding-bottom:20px;
}
#thirdDiv{
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background: #ffffff;
	width: 270px; 
	margin-left: 15px;
}
#thirdDivPortfolio{
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background: #ffffff;
	width: 270px; 
	margin-left: 15px;
}
#linkDiv{
	margin-left: 20px;
	margin-right: 20px;
	border-top: solid;
	border-color: #777777;
	border-width: 2px; 
	padding-top: 20px;
	padding-bottom: 20px;
}
.sameSize{
	height: 60px;
	width: 60px;
}
#footer{
	clear: both;
	overflow: auto;
	background: #4aaaa5;
	height: 5px;
	width: 100%;
}
#last{
	background: #666666;
	height: 50px;

}
#firstImage{
	margin-right: 10px;
	float:left;
	height: 200px;
	width: 200px;
}
p{
	color: #777777;
	margin-left: 2px;
}
#nameDiv, #emailDiv, #messageDiv{
	border-style: solid;
	border-width: 1px;
}
#messageDiv{
	height: 60px;
}
#submit{
	color: white;
	background: #4aaaa5;
	border-style: solid;
	border-width: 1px;
	width: 60px;
	padding: 10px;
}
.placeHolder{
	width: 200px;
	height: 210px;
	float: left;
}
.same{
	height: 120px;
	width: 140px;
}
.floats{
	clear: both;
	overflow: auto;
}
@media only screen and (max-width: 980px){
	#firstImage{
		float: none;
	}
	#secondDiv{
		width: 280px;
		margin-top: 20px;
	}
	#thirdDiv{
		margin-top: 20px;
	}
	#thirdDivPortfolio{
		margin-top: 20px;
	}
	#mainDiv{
		margin: auto;
		position: relative;
		left: 0;
		right: 0;
		width: 760px;
	}
}
@media only screen and (max-width: 768px){
	#firstImage{
		float: left;
	}
	#secondDiv{
		width: 500px;
	}
	#thirdDiv{
		margin-left: 75px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#thirdDivPortfolio{
		margin-left: 75px;
		margin-top: 25px;
		margin-bottom: 25px;
		width: 500px;
	}

@media only screen and (max-width: 640px){
	h1{
		display: block;
		margin: auto;
		position: relative;
		width: 100%;
		left: 0;
		right: 0;
		text-align: center;
	}
	#sectionDiv{
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
		width: 100%;
	}
	.navBar{
		width: 30%;
	}
	#firstImage{
		float: none;
		width: 450px;
		margin-bottom: 10px;
	}
	#secondDiv{
		width: 500px;
	}
	#mainDiv{
		margin: auto;
		position: relative;
		left: 0;
		right: 0;
		width: 760px;
	}
	#thirdDiv{
		width: 500px;
		margin: auto;
		margin-top: 10px;
		margin-left: 75px;
		margin-bottom: 10px;
	}
	#thirdDivPortfolio{
		width: 500px;
		margin: auto;
		margin-top: 10px;
		margin-left: 75px;
		margin-bottom: 10px;
	}
	.placeHolder{
		float: none;
		width: auto;
		height: auto;
	}
	.same{
		width: 463px;
		height: 210px;
	}
}